

:root {
    --color-primario: #07344A;
    --color-secundario: #7CDDFD;
    --color-terciario: #000;
}


.navbar {
    background-color: var(--color-secundario);
}

.navbar a {
    color: var(--color-terciario);
}



.custom-card {
    width: 18rem; /* spacie card */
    margin:  2.5rem ; /* margin cards */
    gap:1.5rem;
}