:root {
    --primary-color: #0ea4d1;
    --secondary-color: #7cddfd;
    --success-color: #d9b68b;
    --text--color: #07344a;
    --warning-color: ##351d15;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}




.Productos{
    background-color: var(--primary-color);
    font-family: var(--font-family-monospace);
    padding: 2.5rem; 
}

.card-body , p {
    background: var(--secondary-color);
    color: var(--text-color);
    font-family: var(--font-family-sans-serif);
}

.carousel-item img {
    height: 500px; 
    object-fit: cover;
}

.carousel-indicators li::after {
    display: none !important;
}

.carousel-indicators {
    list-style: none;
}

@media (max-width: 768px) {
    .carousel-item img {
        max-height: 200px;
    }
}


.footer {
            background-color: #343a40;
            color: white;
            padding: 1rem 0;
              }
              .footer p{
                background-color: #343a40;
                color: white;
                  }
.social-icons a {
            color: white;
            font-size: 32px;
            margin: 0 10px;
            transition: 0.3s;
            padding: 20px;
              }
.social-icons a:hover {
            color: #17a2b8;
              }